body{
    margin: 0;
}
a{
    text-decoration: none;
}

/* Banner Style Start */
#banner1 {
    background-image: url(images/banner1_background.jpg);
    display: flex;
}
#bannerheading{
    color:white;
    font-size: 50px;
    padding-top: 300px;
    padding-left: 300px;
    background-image: url(images/ia_300000006.png);
    background-repeat: no-repeat;
    background-position: 5%;
}
#specialword {
    color:#fd5000;
}
#banner1 #bannerheading a,
.about .aboutdetails a,
input[type=submit] {
    text-decoration: none;
   background: linear-gradient(0deg, rgba(253, 80, 0, 1) 0%, rgba(171, 62, 11, 1) 100%);
   color:white;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 20px;

}
.bannercommon{
      padding-top: 200px;
}
/* Banner Style End */

  /*  Our Favourite Burger Style Start */

  .favburger{
      text-align: center;
  }
  .socialmediaicon span img {
      height: 20px;
      background: linear-gradient(0deg, rgba(253, 80, 0, 1) 0%, rgba(171, 62, 11, 1) 100%);
      padding: 15px;
      border-radius: 5px;
      margin-right: 15px;
  }
  .socialmediaicon span img:hover {
      height: 20px;
       background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
      padding: 15px;
      border-radius: 5px;
      border:1px solid red;
      margin-right: 15px;
  }
  span{
       font-size: 40px;
       background: -webkit-linear-gradient(#fb3204, #da3c37);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
  }
  /*  Our Favourite Burger Style End */

/* About Section Style Start */
.about{
    background-image: url(images/aboutbackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    color:white;
}
.burgerpic,
.aboutdetails{
    width:50%;
}
.burgerpic img{
    float: right;
    margin-top: 40px;
    
}
.aboutdetails {
    margin: auto;
    width:400px;
    margin-left: -20px;
}
/* About Section Style End */

.bestselling{
    text-align: center;
    margin-bottom: 50px;
}
#allcard {
    display: flex;
    width:700px;
    margin: auto;
}
#allcard .card {
    border:3px solid rgb(253, 253, 253);
    background-color: rgb(250, 250, 250);
    width: 300px;
    align-items: center;
    margin-right: 4%;
    border-radius: 5px;
    padding: 10px;
}
.card {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
}
.card img{
    border-radius: 10px;
    width: 300px;
}

.follower{
    width:80%;
    display: flex;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 50px;
}
.follower .col-4 {
    width:30%;
    display: inline-block;
    text-align: center;
    margin: auto;
}
/* Contract code start */
.row{
    display: flex;
}
.contractinfo{
    text-align: center;
}
input[type=text],
input[type=email],
select{
    width: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
textarea {
    width: 425px;
    height:170px;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}


.contractinfo {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
footer{
    margin-top: 50px;
    text-align: center;
    color:white;
    background-color: black;
    padding:10px;
}

/* Order page style */
.Orderinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.productinfo{
    margin-left: 20px;
}

input[type=number] {
    padding: 4px;;
    font-size: 12px;
    width: 35px;

}
input[type=button] {
    padding: 5px 25px;
    font-size: 12px;
    background-color: #da3c37;
    border:none;
    cursor: pointer;
    border-radius: 5px;

}